.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_3 {
}
._图片 {
}
.placeholder {
}
.vertical_line {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table {
}
.table_cell {
}
.link_button {
  color:#169BD5;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
._流程形状 {
}
.html_button {
  text-align:center;
}
.tree_node1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.table_cell1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
.connector {
}
.menu_item {
}
.marker {
  color:#FFFFFF;
}
.icon {
}
.primary_button {
  color:#FFFFFF;
}
.flow_shape {
}
.image {
}
.snapshot {
}
.box_2 {
}
.ellipse {
}
.button {
}
._文本段落1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._形状 {
  font-size:13px;
  color:#000000;
}
._图片1 {
  font-size:13px;
  color:#000000;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.icon1 {
}
.box_31 {
}
._文本段落2 {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.shape {
}
.horizontal_line {
}
.image1 {
  color:#000000;
}
.list_box1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.paragraph1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._8pt_text {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#333333;
  text-align:left;
}
.error {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
.image2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._图片2 {
  color:#000000;
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._图片3 {
}
.box_21 {
}
.box_11 {
}
.text_field1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.primary_button1 {
  color:#FFFFFF;
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.sticky_3 {
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.ellipse1 {
}
._文本段落3 {
  text-align:left;
}
._形状3 {
}
._图片4 {
  color:#000000;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._水平线 {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._文本段落4 {
  text-align:left;
}
